table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

tr:first-child {
   border-bottom: 1px solid black;
}

.last:not(:last-child){
   border-bottom: 1px solid black;
}
