<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
       <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%p,%c,%t,%C{0},%M %m%n</pattern>
       <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  
  <logger name="wiremock.org.mortbay.log" level="INFO"/>

  <root>
    <level value="TRACE"/>
    <appender-ref ref="stdout"/>
  </root>

</configuration>
