#**
 *  Called for each matching document 
 *#

#set($docId = $doc.getFieldValue('id'))

<div class="result-document">

<div class="result-title"><b>#field('001a')</b></div>

<div>001b: #field('001b')</div>
<div>Id: #field('id')</div>
<div>Created: #field('created')</div>
<div>Modified: #field('modified')</div>

#parse('debug.vm')
</div>
