/*
 * Display errors to top right of page
 */

#errors {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
#errors DIV {
    display: block;
    margin: 10px;
}

/*
 * theme widgets override
 */
.ui-widget {
    min-width: 300px;
}
INPUT.ui-button {
    padding: 0.4em 0;
}
INPUT.ui-button#record-key {
    margin-top: -0.9em;
    margin-bottom: 0.9em;
}
INPUT.ui-button#lineformatter {
    margin-top: -0.9em;
    margin-bottom: 0.9em;
}
.ui-selectmenu-button SPAN.ui-selectmenu-text {
    text-align: center;
}

/*
 * content page
 */
#content-container {
    min-width: 300px;
    min-height: 300px;
    border: 1px solid;
    width: 75%;
    float: left;
}
#content {
    position: relative;
    height: 100%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: lightgray;
}

#history-container {
    min-width: 300px;
    min-height: 300px;
    border: 1px solid;
    width: 20%;
    float:right;
}
#history {
    position: relative;
    height: 100%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: lightgray;
}

#content SPAN {
    display: inline;
}
#content SPAN.both {
    color: black;
}
#content SPAN.left {
    color: green;
}
#content SPAN.right {
    color: red;
}
#content SPAN.name {
    color: purple;
}
#content SPAN.uri {
    color: brown;
}

/*
 * svg page
 */
#svg-container {
    min-width: 500px;
    min-height: 300px;
}
svg {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: gray;
}
.legend {
    position: absolute;
    right: 0.2em;
    bottom: 0;
    z-index: 100;
}
